* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Type selectors */

body {
    font-family: Arial;
    font-size: 15em;

    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header,
nav,
article,
section,
aside,
form,
footer {
    padding: 10px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
}

header {
    background: #2c3e50;
    color: #fff;
}


nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #2c3e50;
}

input,
select,
textarea {
    margin: 8px 0px 15px 0px;
    padding: 0px;
    width: 100%;
    max-width: 500px;
    padding: 0px;
}

label {
    display: block;
    margin-top: 10px;
}

/* ID style selectors */

#employment-type input[type="radio"],
#job-preferences input[type="checkbox"] {
    width: auto;
    margin-right: 6px;
    vertical-align: center;
}

#employment-type label,
#job-preferences label {
    display: inline-block;
    margin-right: 15px;
    margin-top: 0;
    margin-left: 0;
    vertical-align: text-bottom;
    padding: 0px;
}

#oikeelle {
    float: right;
    margin-top: 60px;
    margin-right: 40px;
    margin-left: 10px;
    border-width: 2px;
    border-radius: 2px;
    padding: 5px;
    border-style: solid;
}

footer {
    font-size: 0.8em;
    text-align: center;
    color: #555;
    opacity: 1;
}