/* Reset defaults */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Type selectors AND multiple selectors */

body {
    font-family: Arial;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
h1 {

    margin-top: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    color: #fff;
}

h2 {

    text-align: center;
    margin-bottom: 15px;


}

/* Navigation bar styling */
nav {

text-align: center;
margin: 15px 0;

}

header,
article,
section,
aside,
form,
footer {
    padding: 10px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}

header {
    background: #2c3e50;
    color: #fff;
}


nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #2c3e50;
}

input,
select,
textarea {
    margin: 8px 0px 15px 0px;
    padding: 0px;
    width: 100%;
    max-width: 500px;
    padding: 0px;
}

label {
    display: block;
    margin-top: 10px;
}

/* ID style selectors */

#employment-type input[type="radio"],
/* Attribute selectors */
#job-preferences input[type="checkbox"] {
    /* Attribute selectors */
    width: auto;
    margin-right: 6px;
    vertical-align: center;
}

/* 2.6 Descendent combinators? */

section .main-list {

    list-style-type: square;
    background-color: aqua;
    border: 1px solid green;
    border-radius: 4px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;

}

#employment-type label,
#job-preferences label {
    display: inline-block;
    margin-right: 15px;
    margin-top: 0;
    margin-left: 0;
    vertical-align: text-bottom;
    padding: 0px;
}

footer {
    font-size: 0.8em;
    text-align: center;
    color: #555;
    opacity: 1;
}